LaTex/Project Proposal/APS360_Project.out
LaTex/Project Proposal/APS360_Project.log
LaTex/Project Proposal/APS360_Project.fls
LaTex/Project Proposal/APS360_Project.fdb_latexmk
LaTex/Project Proposal/APS360_Project.aux
LaTex/Project Proposal/APS360_Project.synctex.gz
LaTex/Project Proposal/APS360_Project.pdf
*.gz
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.gz
